In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3,8]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
print(hier_index.get_level_values(0))
print(hier_index.get_level_values(1))

Index(['G1', 'G1', 'G1', 'G2', 'G2', 'G2'], dtype='object')
Int64Index([1, 2, 3, 1, 2, 3], dtype='int64')

In [4]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  1.164823 -0.813780
   2 -0.607620  1.057355
   3 -2.375025 -0.299332
G2 1  1.109699  1.563114
   2  0.364105 -0.529660
   3  0.807469 -1.684120

In [9]:
df.loc['G1']

          A         B
1  1.164823 -0.813780
2 -0.607620  1.057355
3 -2.375025 -0.299332

In [7]:
df.loc['G1'].loc[1]

(          A         B
 1  1.164823 -0.813780
 2 -0.607620  1.057355
 3 -2.375025 -0.299332,
 A    1.164823
 B   -0.813780
 Name: 1, dtype: float64)

In [12]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1    1.164823 -0.813780
       2   -0.607620  1.057355
       3   -2.375025 -0.299332
G2     1    1.109699  1.563114
       2    0.364105 -0.529660
       3    0.807469 -1.684120

In [14]:
df.loc['G2'].loc[2]

A    0.364105
B   -0.529660
Name: 2, dtype: float64