In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [3]:
my_data

[10, 20, 30]

In [4]:
arr

array([10, 20, 30])

In [5]:
labels

['a', 'b', 'c']

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4],['India','France','Maldives','Japan'])

In [17]:
ser1

India       1
France      2
Maldives    3
Japan       4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4],['India','France','Russia','Japan'])

In [19]:
ser2

India     1
France    2
Russia    5
Japan     4
dtype: int64

In [23]:
ser1['Maldives']

3

In [24]:
ser2['Russia']

5

In [25]:
ser3 = pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [27]:
ser3[0]

'a'

In [28]:
ser1

India       1
France      2
Maldives    3
Japan       4
dtype: int64

In [29]:
ser2

India     1
France    2
Russia    5
Japan     4
dtype: int64

In [30]:
ser1+ser2

France      4.0
India       2.0
Japan       8.0
Maldives    NaN
Russia      NaN
dtype: float64